# Django settings for restapi

# SECURITY WARNING: keep the secret key used in  productions secret!
SECRET_KEY = 'YOUR_SECRET_KEY'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = '0'  # '0' is false // '1' is True

# --- Database configuration ---

# SQLITE
DATABASE_ENGINE = 'django.db.backends.sqlite3'
DATABASE_NAME = 'db.sqlite3'

# POSTGRES (If you use postgres, uncomment the next two lines)

# DATABASE_ENGINE = 'django.db.backends.postgresql'
# DATABASE_NAME = 'db.postgresql'

DATABASE_USER = 'change-me'
DATABASE_PASSWORD = 'change-me'
DATABASE_HOST = '127.0.0.1'
DATABASE_PORT = '5432'

# --- End Database configuration ---

# Comma separated values
ALLOWED_HOSTS = '127.0.0.1, localhost'
